.count-notif{
  vertical-align:middle;
  margin-left:-15px;
  margin-top: -96px;
  font-size:13px;
  background: #C9302C;
}

.badge-warning{
  padding:3px;
}

audio { display:none;}

li{
   display:block;
   float:left;   
}

img {
  border-radius: 8px;
}